<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>

        <testsuite name="AcMailer Module">
            <file>./ModuleTest.php</file>
        </testsuite>
        <testsuite name="AcMailer event test suite">
            <directory>./Event</directory>
        </testsuite>
        <testsuite name="AcMailer options test suite">
            <directory>./Options</directory>
        </testsuite>
        <testsuite name="AcMailer result test suite">
            <directory>./Result</directory>
        </testsuite>
        <testsuite name="AcMailer service test suite">
            <directory>./Service</directory>
        </testsuite>
        
    </testsuites>
    
    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <file>../src/Service/MailServiceAwareTrait.php</file>
                <file>../src/Service/MailServiceMock.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
