<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Bootstrap.php">
    <testsuites>

        <testsuite name="AcMailer Module">
            <file>./AcMailerTest/ModuleTest.php</file>
        </testsuite>
        <testsuite name="AcMailer event test suite">
            <directory>./AcMailerTest/Event</directory>
        </testsuite>
        <testsuite name="AcMailer options test suite">
            <directory>./AcMailerTest/Options</directory>
        </testsuite>
        <testsuite name="AcMailer result test suite">
            <directory>./AcMailerTest/Result</directory>
        </testsuite>
        <testsuite name="AcMailer service test suite">
            <directory>./AcMailerTest/Service</directory>
        </testsuite>
        
    </testsuites>
    
    <filter>
        <whitelist>
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
