language: php

branches:
  only:
    - master
    - develop

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

before_script:
  - composer self-update
  - composer --version
  - composer install --no-interaction

script:
  - mkdir build
  - ./vendor/bin/phpunit -c test/phpunit.xml --coverage-clover build/clover.xml

after_script:
  - php vendor/bin/coveralls -v
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/clover.xml
