language: php

branches:
  only:
    - /.*/

matrix:
  include:
    - php: 7.1
      env:
        - DEPS=lowest
    - php: 7.1
      env:
        - DEPS=latest
    - php: 7.2
      env:
        - DEPS=lowest
    - php: 7.2
      env:
        - DEPS=latest
    - php: 7.3
      env:
        - DEPS=lowest
    - php: 7.3
      env:
        - DEPS=latest

before_install:
  - phpenv config-rm xdebug.ini || return 0

install:
  - composer self-update
  - composer install --no-interaction
  - if [[ $DEPS == 'latest' ]]; then composer update --no-interaction ; fi
  - if [[ $DEPS == 'lowest' ]]; then composer update --no-interaction --prefer-lowest --prefer-stable ; fi
  - composer show

script:
  - mkdir build
  - mkdir test-resources/attachments/dir/dirdept
  - if [[ $DEPS == 'latest' ]]; then composer ci ; fi
  - if [[ $DEPS == 'lowest' ]]; then composer test ; fi

after_success:
  - if [[ $DEPS == 'latest' ]]; then wget https://scrutinizer-ci.com/ocular.phar ; fi
  - if [[ $DEPS == 'latest' ]]; then php ocular.phar code-coverage:upload --format=php-clover build/clover.xml ; fi
