parameters:
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#is not subtype of Throwable#'
		- '#Result of && is always false#'
		- '#mixed, array\(\$this\(AcMailer\\Event\\AbstractMailListener\)#'
