<?php
return [
    'acmailer_options' => [

        /**
         * Use mail.local.php for environment-specific overrides of configuration settings. This file gets merged after
         * mail.global.php, so all settings here take precedence over the defaults in the global config.
         */

        'default' => [

            /******************************
             * LOCAL MESSAGE CONFIGURATION *
             ******************************/

            'message_options' => [
                /**
                 * From email address of the email.
                 *
                 * Default value is an empty string
                 */
                //'from' => '',

                /**
                 * From name to be displayed instead of from address.
                 *
                 * Default value is an empty string
                 */
                //'from_name' => '',

                /**
                 * Destination addresses of sent emails.
                 * It can be an email address as string or an array of email addresses.
                 *
                 * Default value is an empty array.
                 */
                //'to' => [],

                /**
                 * Copy destination addresses of sent emails.
                 * It can be an email address as string or an array of email addresses.
                 *
                 * Default value is an empty array
                 */
                //'cc' => [],

                /**
                 * Hidden copy destination addresses of sent emails.
                 * It can be an email address as string or an array of email addresses.
                 *
                 * Default value is an empty array
                 */
                //'bcc' => [],

                /**
                 * Email subject.
                 *
                 * Default value is an empty string
                 */
                //'subject' => '',
            ],


            /****************************
             * LOCAL SMTP CONFIGURATION *
             ****************************/

            /**
             * SMTP concrete options that will be used only when the adapter is a Zend\Mail\Transport\Smtp.
             * This will be ignored otherwise.
             */
            'smtp_options' => [
                /**
                 * Hostname or IP address of the mail server.
                 *
                 * Default value is localhost
                 */
                //'host' => 'localhost',

                /**
                 * Port of the mail server.
                 *
                 * Default value is 25
                 */
                //'port' => 25,

                /**
                 * The connection class used for authentication.
                 * The value can be one of 'smtp', 'plain', 'login' or 'crammd5'.
                 *
                 * Default value is 'smtp'.
                 */
                //'connection_class' => 'smtp',

                //'connection_config' => [
                    /**
                     * The SMTP authentication identity.
                     * If this is not set, the 'from' option of the message will be used.
                     *
                     * Default value is an empty string
                     */
                    //'username' => '',

                    /**
                     * The SMTP authentication credential.
                     *
                     * Default value is an empty string
                     */
                    //'password' => '',

                    /**
                     * This defines the encryption type to be used, 'ssl' or 'tls'.
                     * Boolean false should be used to disable SSL.
                     *
                     * Default value is false
                     */
                    //'ssl' => false,
                //],
            ],

        ],

    ],
];
