<?php
return array(

    'mail_options' => array(
        
        /*
         * The mail adapter to be used. Valid options are Zend\Mail\Transport\Smtp and Zend\Mail\Transport\Sendmail
         * Default value is Zend\Mail\Transport\Sendmail
         */
        //'mail_adapter' => 'Zend\Mail\Transport\Sendmail',
        
        /*
         * Hostname or IP address of mail server to be used.
         * Default value is localhost
         */
        //'server' => 'localhost',
        
        /*
         * From email address of the email. It would be used as SMTP username if mail_adapter is set to Zend\Mail\Transport\Smtp and no smtp_user is provided
         * Default value is an empty string
         */
        //'from' => '',
        
        /*
         * From name to be displayed instead of from address.
         * Default value is an empty string
         */
        //'from_name' => '',
        
        /*
         * Destination addresses of sent emails. It can be an email address as string or an array of email addresses.
         * Default value is an empty array.
         */
        //'to' => array(),
        
        /*
         * Copy destination addresses of sent emails. It can be an email address as string or an array of email addresses.
         * Default value is an empty array
         */
        //'cc' => array(),

        /*
         * Hidden copy destination addresses of sent emails. It can be an email address as string or an array of email addresses.
         * Default value is an empty array
         */
        //'bcc' => array(),
        
        /*
         * If Zend\Mail\Transport\Smtp adapter is used, this is the SMTP authentication identity. If this is not set, from option is used.
         * Default value is an empty string
         */
        //'smtp_user' => '',
        
        /*
         * If Zend\Mail\Transport\Smtp adapter is used, this is the SMTP authentication credential.
         * Default value is an empty string
         */
        //'smtp_password' => '',
        
        /*
         * If Zend\Mail\Transport\Smtp adapter is used, this defines the SSL type to be used, 'ssl' or 'tls'. Boolean false should be used to disable SSL.
         * Default value is false
         */
        //'ssl' => false,

        /*
         * If Zend\Mail\Transport\Smtp adapter is used, this is the connection class used for authentication.
         * Value can be one of 'smtp', 'plain', 'login' or 'crammd5'.
         * Default value is login. ZF2 default is smtp
         */
        //'connection_class' => 'login',
        
        /*
         * Email subject.
         * Default value is an empty string
         */
        //'subject' => '',
        
        /*
         * Email body. Can be a string or hardcoded HTML. If a more complex value is nedded it will have to be done in the code.
         * Default value is an empty string.
         */
        //'body' => '',
        
        /*
         * Defines information to create the email body from a view partial. It defines template path and template params. 
         * The path will be resolved by the TemplateMapResolver, so you need to place mail templates inside a view folder of one of your modules or customize your template map and template path stack.
         * Params will be a group of key-value pairs.
         * It has a use_template property wich tells if template should be used automatically, ignoring anything defined at 'body' option. It is false by default.
         *
         * The 'children' property allows to define children for the template, in case you want to use layouts. You can define any number of children. The key is the 'capture_to' property.
         * If you set the key 'content' to the child, you should have something like echo $this->content in you layout.
         * Any child can have its own children, so you can nest views into other views recursively.
         * By default no children are used
         */
        //'template' => array(
        //    'use_template'  => false,
        //    'path'          => 'ac-mailer/mail-templates/layout',
        //    'params'        => array(),
        //    'children'      => array(
        //        'content'   => array(
        //            'path'   => 'ac-mailer/mail-templates/mail',
        //            'params' => array(),
        //        )
        //    )
        //),
        
        /*
         * DEPRECATED. Use 'attachments' => 'dir' => 'path' instead
         */
        //'attachments_dir' => 'data/mail/attachments',

        /*
         * Attachments config.
         * Allows to define an array of files that will be attached to the message, or even a directory that will be iterated to attach all found files.
         * Set directory will only be iterated if 'iterate' property is true and 'path' is a valid directory. If 'recursive' is true all nested directories will be iterated too.
         * If both files and dir are set, all files will be merged without duplication
         * By default the files array is empty and the directory won't be iterated
         */
        //'attachments' => array(
        //    'files' => array(),
        //    'dir' => array(
        //        'iterate'   => false,
        //        'path'      => 'data/mail/attachments',
        //        'recursive' => false,
        //    ),
        //),
        
        /*
         * If Zend\Mail\Transport\Smtp adapter is used, this is the SMTP server port
         */
        //'port' => 25,
        
    )

);