.markdown-section pre {
    padding: 0;
}

strong {
    font-weight: 600 !important;
}

.markdown-section h2 {
    font-size: 25.6px;
    font-size: 1.6rem;
}

.content {
    padding-top: 20px;
}

.markdown-section pre>code {
    line-height: 1.35;
}

.sidebar-nav hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid #eee;
}

.docsify-select-group {
    margin-bottom: 25px;
}
